#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */


/* Header.css */

/* Wstawiamy animację tła */
.bg-animation {
  background-size: cover;
  background-position: center;
  animation: slideFromRight 35s infinite linear; /* Zwiększamy całkowity czas animacji */
}

/* Definiujemy animację */
@keyframes slideFromRight {
  0% {
    background-image: url('/assets/header-bg.jpeg'); /* Pierwszy obrazek */
    background-position: 100% cover; /* Zaczyna się na prawej krawędzi */
  }
  25% {
    background-image: url('/assets/header-bg.jpeg'); /* Nadal pierwszy obrazek */
    background-position: 100% cover; /* Przesuwa się na środek */
  }
  33% {
    background-image: url('/assets/img-11.jpg'); /* Zmiana na drugi obrazek */
    background-position: 100% cover; /* Na środku */
  }
  58% {
    background-image: url('/assets/img-11.jpg'); /* Nadal drugi obrazek */
    background-position: 100% cover; /* Na środku */
  }
  66% {
    background-image: url('/assets/img-12.jpg'); /* Zmiana na trzeci obrazek */
    background-position: 100% cover; /* Na środku */
  }
  91% {
    background-image: url('/assets/img-12.jpg'); /* Nadal trzeci obrazek */
    background-position: 100% cover; /* Na środku */
  }
  100% {
    background-image: url('/assets/header-bg.jpeg'); /* Wracamy do pierwszego obrazka */
    background-position: -100% cover; /* Zaczyna przesuwać się na lewą stronę */
  }
}